.pageButton {
	width:9em;
}
.adminElementGroup, .groupDescriptor {
	margin:0 auto;
	padding:5 20px;
	max-width:850px;
}
.adminElementGroup {
	background-color:#072737;
	overflow: hidden;
}
.adminElement, .pageButton{
	margin:12px 10px;
}

.groupDescriptor {
	margin-top:30px;
	color: white;
	background-color:#164054;
}
.hint {
	font-size:0.8em;
	font-style:italic;
}

.selectedAssetFile, .selectedBackupFile {
	background-color:#A82709;
	font-weight: bold;

}
#taskBackupsContainer, #fileTreeContainer {
	max-width:500px;
}
#loadTasks {
	background-color:#164054;
	width:75%;
}
#selectedPaths ul{
	font-family: Verdana, sans-serif;
	font-size: 9px;
	line-height: 18px;
	list-style: none;
	padding: 0px;
}

.taskElement {
	background-color:#164054;
	padding:5px;
	margin:15px 10px;
}

#saveAllTasksDialog {
	padding:10px;
}
#conflictOptions > .dialogButton{
	margin:7 10px;
}
#loadTasksDialog {
	min-width:350px;
}
#loadTasksDialog > *{
	margin:7px 10px;
}