.pageButton {
	min-width:9em;
}
.listButton {
	min-width:5em;
	border:1px solid #555;
	margin:3px 5px;
	height:1.2em;
}
.adminElementGroup, .groupDescriptor {
	margin:0 auto;
	padding:5 20px;
	max-width:850px;
}
.adminElementGroup {
	background-color:#072737;
	overflow: hidden;
}
.adminElement, .pageButton{
	margin:12px 10px;
}

.groupDescriptor {
	margin-top:30px;
	color: white;
	background-color:#164054;
}
.hint {
	font-size:0.8em;
	font-style:italic;
}

.selectedAssetFile, .selectedBackupFile {
	background-color:#A82709;
	font-weight: bold;

}
#taskBackupsContainer, #originalAssetsContainer {
	max-width:500px;
}
#loadTasks {
	background-color:#164054;
	width:75%;
}
#selectedPaths ul{
	font-family: Verdana, sans-serif;
	font-size: 9px;
	line-height: 18px;
	list-style: none;
	padding: 0px;
}

.taskElement {
	background-color:#164054;
	padding:5px;
	margin:15px 10px;
}

#saveAllTasksDialog {
	padding:10px;
}
#conflictOptions > .dialogButton{
	margin: 8px 20px;
	margin-left: 0px;
}
#loadTasksDialog {
	min-width:600px;
}
#loadTasksDialog > *{
	margin:7px 10px;
}
#conflictMessage {
	font-weight: bold;
	color:#A82709;
}

.elementUser {
	background-color:#164054;
/* 	margin:10px; */
}
.elementUser:hover {
	background-color:#072737;
}
.elementUser:hover .listButton {
	border-color: #999;
	color:#BBB;
}
.elementUser:hover .listButton:hover {
	color:#FFF;
}
.subElementUserName {
	padding:6px 10px;
	font-weight: bold;
}
.subElementUserRole.button {
	padding:0px;
	min-width:3.6em;
	padding:7px 10px;
	color:#999;
}
.subElementUserEnabled.button {
	padding:0px;
	margin-left:5px;
	padding-top:2px;
	font-size:1.4em;
}
.subElementUserPassword {
	padding-top:5px;
	color:#A82709;
}