/* //////////////////////////////////////////////////
 * Additional "HTML tags" as CSS classes
 * //////////////////////////////////////////////////*/
/*Input*/
.button {
	position:relative;
	padding:3px;
}

/*Tags*/
.userTag, .labelTag {
	border-radius: 3px;
	max-height:18px;
}

.userTag {
	padding-left:4px;
	padding-right:4px;
	background-color:#DDD;
	color:#444;
	box-shadow: inset -1px -1px 0px #FFF, inset 1px 1px 0px #AAA;
}

.labelTag {
	padding-left:6px;
	padding-right:6px;
	color:#DDD;
	box-shadow: inset -1px -1px 0px #235F6D;
/* 	background-color:#1B4D65; */
	background-color:#164054;
}

/*Tab-Menus and tabs with borders*/
.tabmenu .tab{
	text-align:center;
	position:relative;
}

/*Floating elements & Size/Positioning*/
.left{float:left}
.right{float:right}
.clear{clear:both;}
.table{display:table;}
.tr{display:table-row;}
.td{display:table-cell;vertical-align: top;}
.verticalSpace{height:1px;}

/*Alignment & Other*/
.center, .button{text-align:center;}
a span{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
label, .button, .clickable{
	cursor:pointer;
}
.input *{
	font-family:Calibri, Verdana, Arial, sans-serif	!important;
	font-size:inherit		!important;
}
submit {
	font-size: inherit;
}

/* //////////////////////////////////////////////////
 * General style settings and colour sets
 * //////////////////////////////////////////////////*/

/*Default*/
*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
input, textarea, select {
	background-color:#E2E2E2;
}
a {text-decoration: none;}
a:link{color:inherit;}
a:visited{color:inherit;}
a:active{color:inherit;}
a:hover{}
.blocker {
	position: fixed;
	height:100%;
	width:100%;
	background-color:#AAAAAA;
	z-index: 270;
}
.warning {
	text-align: center;
	border:10px solid red;
	width:100%;
	height:100px;
	top:40%;
	background-color:#000000;
	font-size: larger;
	font-weight:bold;
	position:fixed;
	z-index:300;
	display:block !important;
}

/*Text Size*/
h1, .h1{font-size:x-large;}
h2, .h2{font-size:1.33rem;}
h3, .h3{font-size:1.14rem;text-shadow: -1px -1px 0px #555;}

/*Inherited & font types*/
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
html {	
	font-family:Calibri, Verdana, Arial, sans-serif;
}
body {
	font-size:0.9375em;
}

/*Colours Main Page*/
.activePage{
	color:#EEE;
	background-color:#040404;
}
.inactivePage, .noPage {
	color:#EEE;
	background-color:#B4B7BF;
	background-color:#333;
}
.pageButton {
	color:#EEE;
}
.listButton {
	color:#999;
}
.pageButton, .listButton, .elementButton, .dialogButton, .commentButton {
	box-shadow: inset 0px 1px 1px #555;
	background-image: -webkit-linear-gradient(top, #444 0%, #353535 80%, #353535 20%, #2B2B2B 100%);
	background-image: -moz-linear-gradient(top, #444 0%, #353535 80%, #353535 20%, #2B2B2B 100%);
	background-color:#333;
}
.pageButton:hover, .listButton:hover, .elementButton:hover, .dialogButton:hover, .commentButton:hover {
	box-shadow: inset 0px 1px 1px #777;
	background-image: -webkit-linear-gradient(top, #555 0%, #444 80%, #444 20%, #333 100%);
	background-image: -moz-linear-gradient(top, #555 0%, #444 80%, #444 20%, #333 100%);
	background-color:#292929;
}

/*Colours Sub Page*/
.activeSubpage{
	color:#EEE;
/* 	background-color:#164054; */
	background-color:rgba(11, 63, 87, 1);
}
.inactiveSubpage{
	color:#DDDDDD;
	background-color:#072737;
}
.noSubpage{
	color:inherit;
	background-color:inherit;
}
.listElement{
	color:inherit;
	background-color:#111;
}

/* //////////////////////////////////////////////////
 * Template Structure
 * //////////////////////////////////////////////////*/

/*Site position and size on screen*/
#wrap {
	background-color:#040404;
	width:100%;
	height:100%;
}

#main {
	padding-top:60px;
	padding-bottom:100px;
	overflow:hidden;
}
#top {
	z-index:100;
	position:fixed;
	width:100%;
	box-shadow: 0px 5px 5px #0B0B0B;
}
/*Sites main menu at the top: tabs and empty middle/in-between tab*/
#top .tab{
	width:15%;
	min-width:5em;
	max-width:8em;
	height:40px;
/* 	padding:0px; */
	padding-top:9px;
	border-bottom-color:#333;
	
}
#top .tab:hover, #top .tab.activeTab {
	border-bottom:2px solid rgba(255, 78, 35, 1);
}

#top .tab:hover {
	transition: border-bottom-color .20s ease-out;
}

.pageTabmenu {
}
.activeTab {
	background-color:#1B1B1B;
}

.meta {
	text-shadow:none;
	padding-left:15px;
	padding-top:8px;
	font-size:0.5em;
	color:#BBB;
}

