#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	
	background-color: #FFF;
    opacity: 0.3;
    z-index: 999;
}

.dialogContainer {	
  	z-index: 1000;
  	position: absolute;
  	background-color:#111;
  	border:5px solid #333;
}

.dialogButton {
	background-color: #333;
	min-width:80px;
}

.dialogButton:hover {
	background-color: #222;
}

.dialogList ul{
	overflow: auto;
	height:200px;
	margin:0px;
	padding:2px 10px;
	list-style-type: none;
/* 	background-color: #000; */
	color:#7FFF00;
	font-size: 0.85em;
}