#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	
	background-color: #FFF;
    opacity: 0.3;
    z-index: 999;
}

.dialogContainer {	
  	z-index: 1000;
  	position: absolute;
  	background-color: black;
}
