.taskGroup {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	resize:horizontal;
	overflow:hidden;
/* 	box-sizing:content-box; */
	width:25em;
}

.taskElement {
	margin:8px 15px;
}
.taskGroup.textArea{
	resize:both;
}
.taskGroup.textArea .taskElement textarea{
	resize:none;
}

.taskDescription {
	position:absolute;
	min-width:5em;
}
.taskInput {
	margin-left:5em;
}
.taskInput *{
	width:100%;
	height:100%;
	font-size:15px;
	font-family:Calibri, Verdana, Arial, sans-serif;
}
.taskHint {
	margin-top:20px;
	margin-bottom:15px;
	font-size:0.8em;
}