.pageButton {
	width:9em;
}

#filters {
	overflow: hidden;
}

.filterGroup {
	padding:5px;
}

/*Content/Body of the tasks tab*/
#main{
    padding-right:1.5%;
}

#generalArea{
	margin:1em 0em;
}

.taskGroup {
	background-color:#333333;
}

.taskButtons {
	margin:1em 0em;
}
#submitTaskButton {
	margin-right:2em;
}

.filterGroup {
	border-bottom:2px solid #151515;
}
.filterBorder {
}

.generalFilters{
	width:9em;
	margin-left:2px;
	margin-right:13px;
	margin-bottom:13%;
}
.generalFilters .filterGroup{
	background-color:#164054;
}
.generalFilters .filterBorder{
	border-color:#151515;

}

.specificFilters{
	width:9em;
	margin-right:2px;
	margin-left:13px;
}


.specificFilters .filterGroup{
/* 	background-color:#145959; */
/* 	background-color:#29477F; */
	background-color:#164054;
}
.specificFilters .filterBorder{
/* 	border-color:#1E3636; */
/* 	border-color:#222222; */
	border-color:#151515;
}


#lists{
	overflow:hidden;
}

#listsTop .tab{
	width:33%;
	height:30px;
	padding-top:5px;
}

#listsMain {
/* 	Min height interpreted as height by chrome */
/* 	min-height:600px; */

	border-top:2px solid #151515;
	padding:10px;
	
	column-count:10;
	column-width:460px;
	column-gap:10px;
	/*CSS3 (following can be removed later)*/
	-moz-column-count:10;
	-moz-column-width:460px;
	-moz-column-gap:10px;
	-webkit-column-count:10;
	-webkit-column-width:460px;
	-webkit-column-gap:10px;
}

#listsMain .listElement{
	margin-top:7px;
	padding:4px 8px;
	box-shadow: -1px -1px 0px #444, 1px 1px 1px #111;
	border-left:0px solid #D35A3D;
	
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	
	/* 	Mozilla fix for column break */
	overflow:hidden;
	break-inside: avoid-column;
}
.submitSearchButton, .switchSearchButton {
	padding-top:1px;
	padding-bottom:2px;
}
.searchInputField, .submitSearchButton {
	width:33%;
}
.searchDescription, .searchInputField, .submitSearchButton, .switchSearchButton {
	margin-top:5px;
}
.switchSearchButton {
	width:28%;
	margin-right:5px;
}
.searchDescription {
	width:16.5%;
}
.elementCount {
	font-size:0.9em;
	margin-top:3px;
	font-weight:bold;
	color:#000000;
}
.elementContent {
	 word-wrap:break-word;
	 max-width:100%;
}
.elementStatus {
	color:#E8E8E8;
}
.elementAssigned {
	margin-right:10px;
}
.elementStatus, .elementAssigned {
	margin-top:4px;
	font-size:0.96em;
}

.elementPriority, .elementLabel {
	margin-top:5px;
}

.elementPriority{
	margin-left:10px;
	height:1em;
	width:0.5em;
}

.elementId, .elementLabel{
	padding-right:3px;

}
.elementId{
	margin-top:6px;
	color:#6D6D6D;
	font-size:0.8em;
}
.elementLabel{
	font-weight:600;
	color:#DDDDDD;
	font-size:0.9em;
}
.elementName{
	padding-left:5px;
	padding-bottom:3px;
}
.listElementBodyFooter {
	margin: 25px 0px 2px 0px;
}
.elementAuthorDate{
	bottom:0px;
	color:#999999;
	font-size:0.7em;
}
.elementButton{
	padding:3px 7px;
	font-size:0.87em;
	margin:2px 10px 0px 0px;
	min-width:5.5em;
	color:#CCCCCC;
	background-color: #3A3A3A;
}
.elementButton:hover{
	background-color:292929;
}
.elementButton.commentElement {
	margin-left:3px;
}

.elementPriority.ULTRA{
	width:0.9em;
	background-color:#F30021;
}
.elementPriority.HIGH{
	width:0.7em;
	background-color:#FF4F00;
}
.elementPriority.MID{
	background-color:#FFB400;
}
.elementPriority.LOW{
	width:0.3em;
	background-color:#DDDDDD;
}
.elementPreview {
/* 	border-left: 1px solid #777; */
/* 	background:#2D2D2D; */
	overflow:hidden;
}
.subPreviewDescriptor {
/* 	border-top: 1px solid #777; */
	width:50%;
/* 	background-color: #414141; */
background-color: #333;
}
.subPreviewDescriptor > *{
	padding:4px;
	padding-left:10px;
}
.subElementPreview {
	text-align: center;
	width:49%;
	min-height:10px;
	overflow:hidden;
}
.subElementPreview img{
	margin:1px;
	max-width: 99%;
	vertical-align: bottom;
}
.subElementPreview:hover img {
	margin:0px;
	border:1px dashed #999;
}
.elementDetails{
}
.elementDetails, .elementComments, .elementPreview, .elementFiles, .elementPath {
	margin:10px 5px;
}
.elementPath {
	color:#AAA;
	margin-top:5px;
	font-size: 0.8em;
}
.elementPreview {
	margin-top:20px;
}
.elementFiles {
/* 	margin-top:0px; */
/* 	border-left: 1px solid #777; */
/* 	border-right: 1px solid #777; */
/* 	background-color:#2D2D2D; */
}
.subElementAssets {
}
.subElementWip {
}
.subElementAssets, .subElementWip {
	width: 50%;
}
.subFilesDescriptor {
	padding:4px;
	padding-left:10px;
/* 	border-top: 1px solid #777; */
/* 	border-bottom: 1px solid #555; */
	background-color: #333;
}
.subElementFileOperations {
	background-color: #333;
/* 	border-top: 1px solid #555; */
/* 	border-bottom: 1px solid #555; */
	margin-top:10px;
	padding:4px 2px;
}
.subFilesContainer {
	padding:5px;
	padding-left:10px;
}
.subElementButton {
	border: 1px solid #555;
	min-width:5em;
	font-size: 0.85em;
	margin:0px 5px;
	padding:2px 8px;
	background-color: #666;
}
.selectedTaskFile {
	background-color:#A82709;
	font-weight: bold;
}
.elementComments {
	margin-top:10px;
}
.elementDetails, .subListElement {
	color:#DDDDDD;
	padding:0px 5px;
}
.subListElement{
	border-top: 1px solid #555555;
	margin-top:3px;
}
.subElementAuthor {
/* 	color:#AAAAAA; */
	margin-right:2px;
	min-width:4.7em;
/* 	font-style:italic; */
}
.subElementText {
	padding-left:4px;
}
.commentInput {
	margin-top:5px;
}
.commentInput .subElementText{
	width:auto;
	overflow:hidden;
}
#text {
	background-color:#333333;
	color:#D5D5D5;
	width:100%				!important;
}

.elementDelete {
	background-color:#000000;
	border:3px solid red;
}
.elementDelete .deleteQuestion{
	margin:6px;
}
.elementDelete .deleteButton{
	margin:3px;
	width:5em;
	color:#000000;
	background-color:#FFFFFF;
}