
#listsMain .listElement.search {
/* 	padding:10px; */
}


.search .easySearch .searchInputField{
	width:40%;
}
.search .complexSearch .complexSearchLeft {
	float:left;
	width:49%;
}
.search .complexSearch .complexSearchRight {
	float:right;
	width:49%;
}
.search .searchDescription, .search .searchInputField, .search .submitSearchButton, .search .switchSearchButton {
	height:26px;
	margin:5px 0;
}
.search .complexSearch .searchDescription {
	float:left;
	width:20%;
}
.search .complexSearch .searchInputField {
	float:right;
	width:75%;
}