@import '../include';

/* /////////////////////////////////////////////////////////////////////////////////
 * Styling for dialogs in all_template.tag html
 * /////////////////////////////////////////////////////////////////////////////////*/

#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	
	background-color: #FFF;
    opacity: 0.3;
    z-index: 200;
}

.dialogContainer {	
  	z-index: 250;
  	position: fixed;
  	background-color:#111;
  	border:5px solid #333;
}

.dialogButton {
	background-color: #333;
	min-width:80px;
}

.dialogButton:hover {
	background-color: #222;
}

.dialogList {
	overflow: auto;
	height:200px;
}

.dialogList ul{
	margin:0px;
	padding:2px 10px;
	list-style-type: none;
	color:#36A2D7;
	font-size: 0.85em;
}

#confirmDialog {
	padding:10px;
	min-width:250px;
	min-height:40px;
	position:fixed;
}

#confirmDialog > * {
	margin:10px;
}

#confirmDialog #confirmDialogTextInput{ 
	width:100%;
}

#confirmDialog textarea{ 
	width:100%;
}

#exceptionDialog {
	width:90%;
	height:90%;
	padding:20px;
}
#exceptionDialog #exceptionHeading {
	font-size:1.7em;
	color:#D35A3D;
}
#exceptionDialog #exceptionMessage {
	color:#D35A3D;
	padding-bottom: 15px;
}
#exceptionDialog #exceptionInstructions {
	padding-bottom: 10px;
}
#exceptionDialog #exceptionStackTraceWrapper {
/* 	height:500px; */
	max-height:75%;
	overflow:auto;
	padding: 20px;
	color:#BBB;
	background-color: #333;
}
#exceptionDialog .dialogButton {
	width:200px;
	padding:5px;
	margin:20px auto;
	margin-bottom:0px;
}