@import '../include';

//------------------------------------------------------------------------------
// general stuff
//------------------------------------------------------------------------------

.pageButton {
	min-width:9em;
}
.innerButton {
	margin: 7px;
}
#database-deleteFile, #cancelImportButton {
	margin-left: 20px;
}

.admin-group {
	margin: 0 auto;
	padding: 20px 20px;
	max-width: 850px;
}
.admin-groupDesc {
	margin:0 auto;
	padding: 10px;
	max-width: 850px;
}

.admin-group {
	overflow: hidden;
	
	@include colorTheme-subpage-dark;
}

.admin-inner {
	@include colorTheme-subpage-bright;
}

.admin-inner-header {
	padding: 5px 7px;
	border-bottom: 2px solid $bgc-subpage-dark;
}
.admin-inner-main {
	padding: 7px 10px;
}

.admin-groupDesc {
	margin-top:30px;
	color: white;
	
	@include colorTheme-subpage-bright;
}
.hint {
	font-size:0.8em;
	font-style:italic;
}

#customizationDescription {
	margin-top: 5px;
	margin-bottom: 5px;
}
#adminBannerTextArea {
	width:100%;
	height:100px;
}

.selectedAssetFile, .selectedBackupFile {
	background-color:#A82709;
	font-weight: bold;
}
#originalAssets, #newAssets, #importTaskTemplate {
	margin-top: 20px;
	margin-bottom: 20px;
}
#database-fileTreeContainer, #originalAssets-fileTreeContainer, #newAssets-fileTreeContainer {
	max-width:600px;
}
#loadTasks {
	width:69%;

	.button {
		margin-top: 10px;
	}
}
.verticalSpace {
	margin-top: 30px;
}
#selectedPaths {
	margin-top: 20px;
	margin-bottom: 10px;
	max-height: 315px;
	overflow: auto;
}
#selectedPaths ul{
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 14px;
	list-style: none;
}
#selectedPaths ul li {
	@include colorTheme-subpage-bright;
	padding: 0px 6px;
}
#importTaskForm {
	padding-top:10px;
}
#importTaskForm #taskForm {
	display:table-cell;
}
.taskGroup {
	background-color:#164054;
}

//------------------------------------------------------------------------------
// user accounts
//------------------------------------------------------------------------------

.admin-user {
	$border: 1px solid $fgc-subpage-dark;
	border-bottom: $border;
	
	@include colorTheme-subpage-dark;
	
	&:first-child {
		border-top: $border;
	}
	&.disabled {
		background-color: setSaturation($bgc-subpage-dark, 0.4);
		color: setLightness($fgc-subpage-dark, 0.6);
	}
	&:hover, &.disabled:hover {
		@include colorTheme-subpage-bright;
	}
	
	.button {
		min-width:5em;
		margin:4px 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
.admin-user-name {
	word-wrap: break-word;
	max-width:100%;
	padding:7px;
	font-weight: bold;
}
.admin-user-role {
	min-width:4.5em;
	padding:7px;
	color:$c-darkOrange;
}
.admin-user-enabled {
	margin-left:5px;
	margin-right:5px;
	padding-top:2px;
	font-size:1.4em;
}
.admin-user-password {
	padding:7px;
	color: $c-darkOrange;
	font-weight:bold;
}