@import '../include';


#login {
	max-width:540px;
	margin:0 auto;
	background-color: $bgc-subpage-dark;
	padding:20px;
	padding-bottom:50px;
	
	a:not(.button) {
		font-style: italic;
		color:#999;
	}
}

#login-logoutMessage {
	background-color: $bgc-subpage-bright;
	margin-bottom:50px;
}

#login-welcomeMessage {
	margin-bottom:30px;
}

#login-gmmName {
	font-weight:bold;
	padding-left: 5px;
	font-size: 1.15em;
}

fieldset#login-form-inputs {
	border-color: $bgc-subpage-bright;
	padding:7px 10px;
	margin: 0px;
	margin-bottom:10px;
	
	& > * {
		margin:7px 0;
	}
	
	& input {
		width:100%;
	}
}

#login-error {
	background-color: $c-red;
}

#account-created {
	background-color: $c-green;
}