
#changePassword {
	margin:10px auto;
	margin-top:100px;
	width:300px;
}

/*
 * Change Password Dialog
 * #####################################
 */

#changePasswordDialog {
	width:280px;
	
	> * {margin:10px;}
}
#changePasswordDialog-error {
    font-weight: bold;
    color: #A82709;
}

#changePasswordDialog-ok,
#changePasswordDialog-cancel {
	margin-top:20px;
}
