<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	Levels:
	
	ALL < TRACE < DEBUG < INFO <  WARN < ERROR < OFF
	
	To decide if message gets logged, root/logger level is compared with level
	from method call. No level attribute is synonym to level OFF or INHERITED.
 -->

<!-- Enable scanning of this config file -->
<configuration scan="true" scanPeriod="30 seconds" debug="false">
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{200} - %msg %n</Pattern>
		</encoder>
		<filter class="gmm.web.LogAccessDeniedFilter"/>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	
  	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/gmm.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>gmm_%d{yyyy-MM-dd}.log</FileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>			
		</rollingPolicy>
		
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
		</encoder>
		<filter class="gmm.web.LogAccessDeniedFilter"/>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
  	</appender>
  	
  	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>
	
	<logger name="gmm.service.assets.AssetScanner" level="INFO"/>
	<logger name="gmm.service.NotificationService" level="INFO"/>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>

</configuration>