<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	Levels:
	
	ALL < TRACE < DEBUG < INFO <  WARN < ERROR < OFF
	
	To decide if message gets logged, root/logger level is compared with level
	from method call. No level attribute is synonym to level OFF or INHERITED.
 -->
 

<!-- Enable scanning of this config file -->
<configuration scan="true" scanPeriod="10 seconds" debug="false">
	
	<!-- Console -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%10thread] %-5level %logger{200} - %msg %n</Pattern>
		</encoder>
		<filter class="gmm.web.LogAccessDeniedFilter"/>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	
    
    <!-- Log Files -->
    <insertFromJNDI env-entry-name="java:comp/env/gmm/workspace" as="workspace" />
    
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>${workspace}/logs/gmm.log</File>
        
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
            <FileNamePattern>${workspace}/logs/gmm_%d{yyyy-MM-dd}.log</FileNamePattern>
			<totalSizeCap>40MB</totalSizeCap>
		</rollingPolicy>
		
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%10thread] %-5level %logger{36} - %msg %n</Pattern>
		</encoder>
		<filter class="gmm.web.LogAccessDeniedFilter"/>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
  	</appender>
  	
  	
  	<!-- Log Levels -->
  	<!-- Suppress Spring logging -->
  	<logger name="org.springframework.web.servlet.PageNotFound" level="ERROR"/>
  	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>
	<logger name="_org.springframework" level="INFO"/>
	<!-- Suppress template stuff -->
	<logger name="freemarker.cache" level="INFO"/>
	<!-- Suppress GMM details -->
	<logger name="gmm.service.assets.AssetScanner" level="INFO"/>
	<logger name="gmm.service.NotificationService" level="INFO"/>
	<logger name="gmm.service.tasks.PythonTCPSocket" level="INFO"/>
	<logger name="gmm.web.controller.TaskController" level="INFO"/>
	<logger name="gmm.web.controller.WorkbenchController" level="INFO"/>

    <!-- Default level & output methods -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</root>

</configuration>