@import '../../include';


// ####################################### Page and lists

#wrapper {
	margin: 0px auto;
	max-width: 1080px;
}

@media (min-width: 801px) {
	#main {
		margin-left: 200px;
	}
}
@media (max-width: 800px) {
	#main {
		margin: 0px auto;
	}
}
#main {
	min-width:500px;
	max-width: 880px;
}

.list {
	margin-bottom: 50px;
}

.list-header {
	padding: 10px;
	margin-bottom: 1px;
	
	@include colorTheme-subpage-bright;
}

.list-body {
	padding: 10px;
	
	@include colorTheme-subpage-dark;
}


.list-element {
	margin-top:7px;
	box-shadow: -1px -1px 0px #444, 1px 1px 1px #000;
}

.list-count {
	font-size:0.85em;
	margin-top:3px;
	color:#BBB;
}

// ####################################### Sidebar


.sidebar-marker {
/* 	background-color:#0B3F57; */
	background-color: brown;
	padding: 10px;
	width: 200px;
	margin-left: -210px;
	margin-top: -10px;
	transition: margin-left 0.1s;
}

.sidebar-marker-fixed {
	margin-left: -240px;
}

.sidebar-marked {
	border: 2px solid orange;
}


// ####################################### Workbench

$padding-wb-vertical: 10;
$padding-wb-horizontal: 10;

#workbench-menu {
	margin-top: 2px;
}

.workbench-menu-tab {
	@include cursor-clickable;
	@include colorTheme-subpage-bright;
	min-width:5em;
	
	position:relative;//for absolute child
	padding: #{$padding-wb-vertical}px #{$padding-wb-horizontal}px;
	float: left;
	text-align: center;
	
	border-right: 2px solid #000;
	//border-left: 1px solid #000;
	border-bottom: 2px solid #000;
	
	&.hover-active {
		background-color: lighten($bgc-subpage-bright, 4%);
	}
	
	.workbench-menu-tab-highlight {
		background-color: $bgc-subpage-bright;
		position: absolute;
		height: 1.6em;
		bottom: 100%;
		
		left: -2px;
		right: -2px;
	    border: 2px solid black;
		border-bottom: none;
		margin-bottom: 2px;
	    
	    &:hover {
	    	background-color: lighten($bgc-subpage-bright, 4%);
	    }
	}
}

.workbench-menu-tab-last {
	border-right: none;
}

.workbench-menu-tab-active {
	padding-bottom: 12px;
	border-bottom: none;
	
	@include colorTheme-subpage-dark;
	&:hover {
		background-color: $bgc-subpage-dark;
	}
}

.workbench-tab {
	padding: #{$padding-wb-horizontal}px #{$padding-wb-horizontal + 1}px;
	padding-top: #{$padding-wb-horizontal + 2}px;
	
	@include colorTheme-subpage-dark;
	margin-bottom: 1px;
	box-sizing: content-box;
	min-height: 100px;
	
	input, select, textarea {
		$col: lighten($bgc-subpage-dark, 70%);
		$col: setSaturation($col, 0.1);
	
		background-color:$col;
	}
}

@mixin workbench-tab-button {
	//button with background color
	/* 	$col: lighten($bgc-subpage-dark, 6%); */
	/* 	$col: setSaturation($col, 0.8); */
	
	//button with contrast (white) color
	$col: lighten($bgc-subpage-dark, 63%);
	$col: setSaturation($col, 0.1);
	
	@include button-color($col);
	color:#000;
	min-width:9em;
}


// ####################################### other content


/*Content/Body of the tasks tab*/

.taskForm-group {
	background-color:#333333;
}

.taskForm-buttons {
	margin:1em 0em;
}
#submitTaskButton {
	margin-right:2em;
}

#newTaskButton, #submitTaskButton, #cancelTaskButton {
	width:9em;
}