@import '../../include';

// ######################################################### task css temp



.task-operations-extended {
	padding:4px;
	background-color:brown;
}

.task-operations {
	padding:4px;
	background-color:orange;
}

.task-body-footer {
	margin: 0px 0px;
	background-color:blue;
}
.task-body-content {
	padding:4px;
}

.task-body {
	background-color:green;
}

.task-header {
	height:35px;
	padding:4px;
	background-color:red;
}


