.pageButton {
	width:9em;
}
.filterGroup {
	padding:5px;
}



/*Content/Body of the tasks tab*/
#main{
    padding-right:1.5%;
    width: 100%;
}

.td.leftColumn {
	white-space: nowrap;
}

.td.rightColumn {
	width:100%;
}

#generalArea{
	margin:1em 0em;
}

.taskGroup {
	background-color:#333333;
}

.taskButtons {
	margin:1em 0em;
}
#submitTaskButton {
	margin-right:2em;
}

#lists{
	overflow:hidden;
	max-width:900px;
}

#listsTop .tab{
	width:33%;
	height:30px;
	padding-top:5px;
}

#listsMain {
/* 	Min height interpreted as height by chrome */
	min-height:600px;
	width:100%;
	border-top:2px solid #151515;
	padding:10px;
}