@import '../../include';


// ####################################### Page and lists

#wrapper {
	margin: 0px auto;
	max-width: 1080px;
}

@media (min-width: 800px) {
	#main {
		margin-left: 200px;
	}
}
@media (max-width: 799px) {
	#main {
		margin: 0px auto;
	}
}
#main {
	min-width:500px;
	max-width: 880px;
}

.list {
	margin-bottom: 50px;
}

.list-header {
	padding: 10px;
	margin-bottom: 1px;
	
	@include colorTheme-subpage-bright;
}

.list-body {
	padding: 10px;
	
	@include colorTheme-subpage-dark;
}


.list-element{
	overflow:hidden;
	background-color:#111;
	margin-top:7px;
	box-shadow: -1px -1px 0px #444, 1px 1px 1px #000;
	border-left:0px solid rgba(255, 78, 35, 1);
}

.list-count {
	font-size:0.9em;
	margin-top:3px;
	font-weight:bold;
	color:#000000;
}

// ####################################### Sidebar


.sidebar-marker {
/* 	background-color:#0B3F57; */
	background-color: brown;
	padding: 10px;
	width: 200px;
	margin-left: -210px;
	margin-top: -10px;
	transition: margin-left 0.1s;
}

.sidebar-marker-fixed {
	margin-left: -240px;
}

.sidebar-marked {
	border: 2px solid orange;
}


// ####################################### Workbench

#workbenchMenu {
	
}


.workbench-menu-tab {
	padding: 10px;
	background-color: green;
	float: left;
	width: 16.667%;
	text-align: center;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}

.workbench-menu-tab-last {
	border-right: none;
}

.workbench-menu-tab-active {
	padding-bottom: 12px;
	border-bottom: none;
	background-color: darkgreen;
}

.workbench-tab {
	padding: 10px;
	background-color: darkgreen;
	margin-bottom: 1px;
	min-height: 100px;
}


// ####################################### old tasks page content


.filterGroup {
	padding:5px;
}

/*Content/Body of the tasks tab*/

.taskForm-group {
	background-color:#333333;
}

.taskButtons {
	margin:1em 0em;
}
#submitTaskButton {
	margin-right:2em;
}