@import '../include';

//------------------------------------------------------------------------------
// general stuff
//------------------------------------------------------------------------------

.userTag, .labelTag {
	border-radius: 3px;
}

.userTag {
	padding-left:5px;
	padding-right:5px;
	
	@include colorTheme-usertag;
	@include indented-shadow-for-bright($bgc-usertag);
}

.labelTag {
	padding-left:6px;
	padding-right:6px;
	
	@include colorTheme-labeltag;
	@include indented-shadow-for-color($bgc-labeltag);
}

//------------------------------------------------------------------------------
// structure
//------------------------------------------------------------------------------

.task {
	background-color: $bgc-task;
/* 	overflow:hidden; */

	&.expanding, &.expanded, &.collapsing {
		border-left: 2px solid $c-orange;
	}
}

.task-body {
	overflow:hidden;
}
.task-body-footer {
	margin: 25px 3px 2px 0px;
}
.task-header {
	padding:3px 7px;
	display: flex;
	align-items:baseline;
	justify-content:space-between;
}

//------------------------------------------------------------------------------
// header
//------------------------------------------------------------------------------

.task-id, .task-name, .task-label,
.task-assigned, .task-status, .task-priority {
	display: inline-block;
	word-wrap:break-word;
	max-width:100%;
}
.task-id {
	margin-right:2px;
	color:#6D6D6D;
	font-size:0.66rem;
	min-width:2.1em;
	text-align:right;
}
.task-label {
	margin-right:5px;
}
.task-name {
	font-size: 1.14rem;
}
.task-assigned {
	font-weight:bold;
	margin-right:10px;
}

.task-status, .task-assigned, .task-label {
	font-size:0.96em;
}

.task-status {
	color:#E8E8E8;
}

.task-priority {
	font-size:0.96em;
	margin-left:10px;
	width:0.5em;
}

//------------------------------------------------------------------------------
// body
//------------------------------------------------------------------------------

.task-operations {
	padding-left: 5px;
}

.task-authorDate {
	margin:1px 5px 0px 5px;
	bottom:0px;
	color:#999999;
	font-size:0.7em;
}

.task-button {
	padding:3px 7px;
	margin:2px 5px 0px 5px;
	line-height: 1.4em;
	min-width:8em;
}

.task-button, .task-comment-editButton {
	font-size:0.87em;
	color:#CCCCCC;
}

.task-comment-editButton {
	min-width:3em;
	padding-left:5px;
	padding-right:5px;
}

.task-button:hover{
	background-color:292929;
}

svg.buttonIcon {
	height:16px;
	width:16px;
	padding-bottom:1px;
	vertical-align: bottom;
}
svg.buttonIcon * {
	fill: #CCCCCC;
}

.task-priority.ULTRA{
	width:0.9em;
	background-color:#F30021;
}
.task-priority.HIGH{
	width:0.7em;
	background-color:#FF4F00;
}
.task-priority.MID{
	background-color:#FFB400;
}
.task-priority.LOW{
	width:0.3em;
	background-color:#DDDDDD;
}
.task-comments {
	margin-top:15px;
	margin-left:10px;
	margin-right:1px;
}
.task-details {
	color:#DDDDDD;
	padding:0px 5px;
}
.task-comment {
	color:#DDDDDD;
	border-top: 1px dotted #666;
	margin-top:3px;
	padding-top:3px;
}
.task-comment-author, .task-comment-form-submitButton {
	margin-top: 2px;
	margin-right:2px;
	min-width:6em;
}

.task-comment-text {
	padding-left:5px;
	margin-top: 2px;
}
.task-comments-form .task-comment-text{
	width:auto;
	overflow:hidden;
}
.task-comments-form-textArea {
	width:auto;
	width:100%;
	resize:vertical;
}