.taskForm-group {
	margin-right:20px;
	margin-bottom:20px;
	resize:horizontal;
	overflow:hidden;
	width:27em;
}
.taskForm-group.textArea{
	resize:both;
}
.taskForm-group.textArea .taskForm-element.textArea {
	height: calc(100% - (8px * 2));
	.taskForm-input {
		height: 100%;
		textarea {
			resize:none;
		}
	}
}

.taskForm-element {
	margin:8px 15px;
}
.taskForm-element-path.inactive {
	color: #666;
	input {
		background-color: #555;
		border-color: #666;
	}
}

.taskForm-description {
	position:absolute;
	min-width:5em;
}
.taskForm-input {
	margin-left:7em;
	
	input, select, textarea {
		width:100%;
		height:100%;
	}
}
.taskForm-hint {
	margin-top:20px;
	margin-bottom:15px;
	font-size:0.8em;
}