@import '../include';

.task-details, .task-comments, .task-assets, .task-assetPath {
	/*margin:15px 5px;*/
}

.task-assetPath {
	color:#AAA;
	margin-top:3px;
	margin-left: 15px;
	font-size: 0.8em;
}

/* //////////////////////////////////////////////////
 * Preview
 * //////////////////////////////////////////////////*/
.task-button.task-file-button {
	margin: 2px;
	min-width: 5.3em;
	max-width: 10em;
	padding: 2px 5px;
}
.task-assets {
	margin: 25px 1px 5px 10px;
}
.task-assets > table {
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
	
	td {
		border: 1px solid #444;
	}
	td:nth-child(2) {
		border-style: none;
	}
	/*td.border {
		border: 1px solid #444;
	}*/
	td.noborder {
		border-style:none;
	}
	
	.task-asset-info {
		padding: 4px 4px;
	}
	.task-asset-buttons {
		padding: 5px 2px;
	}
	.center > .task-file-button {
		display:inline-block;
		min-width:10em;
	}
}

.task-previews {
	width:100%;
}
.task-preview-visual {
	box-shadow: inset -1px -1px 1px #555, -1px -1px 1px #222;
	padding:10px 0;
	
	background-color: #222;
	&:hover {
		background-color: #393939;
	}
	a {
		display:block;
	}
	img {
		border:1px dotted #666;
		max-width:90%;
	}
	canvas {
		border:1px dotted #666;
		width:90%;
		height:250px;
		background-color:DarkRed;
	}
}
.task-preview-renderOptions {
	padding: 6px 10px;
	height: 37px;
	
	.renderOptionsText {
		padding-top:3px;
		display:block;
		float: left;
	}
	
	.renderOptionsText, .renderOptionGroup {
		height: 100%;
	}

	.button-group {
		padding-top: 0px;
		margin-left: 10px;
	}
	.task-button {
		padding: 2px;
		min-width: 100px;
		margin:0px;
	}
	.task-button.active {
		border-bottom: 1px solid $c-orange;
	}
	label {
		margin-left:10px;
	}
	input.renderOptionsSpeed {
		height: 90%;
		margin-left:5px;
		margin-top:2px;
	}
}
.task-asset-model-textures {
	font-size: 0.8em;
	padding: 5px;
	
	ul {
		padding-left: 15px;
	}
}

/* //////////////////////////////////////////////////
 * File manager
 * //////////////////////////////////////////////////*/
.task-files-description {
	padding:4px;
	padding-left:10px;
}
.task-files-wip-tree {
	padding:5px;
	padding-left:10px;
}
.task-files-operations {
	margin-top:10px;
	padding: 5px 2px;
}
.task-files-selected {
	background-color:#A82709;
	font-weight: bold;
}