@import '../include';

/* //////////////////////////////////////////////////
 * Preview
 * //////////////////////////////////////////////////*/
.task-preview {
	width: 100%;
	table-layout:fixed;
	border-spacing: 5px;
}
.task-preview-buttons {
}
.task-preview-visuals {
	width:100%;
}
.task-preview-visual {
	box-shadow: inset -1px -1px 1px #555, -1px -1px 1px #222;
	padding:10px 0;
	
	background-color: #333;
	&:hover {
		background-color: #393939;
	}
	a {
		display:block;
	}
	img {
		border:1px dotted #666;
		max-width:90%;
	}
	canvas {
		border:1px dotted #666;
		width:90%;
		height:250px;
		background-color:green;
	}
}
.task-preview-renderOptions {
	padding: 0px 10px;
	background-color: #333;
	height:27px;
	
	.renderOptionsText {
		padding-top:3px;
		display:block;
		float: left;
	}
	
	.renderOptionsText, .renderOptionGroup {
		height: 100%;
	}

	.button-group {
		padding-top: 0px;
		margin-left: 10px;
	}
	.button {
		min-width: 100px;
	}
	.button.active {
		border-bottom: 1px solid $c-orange;
	}
	label {
		margin-left:10px;
	}
	input.renderOptionsSpeed {
		height: 90%;
		margin-left:5px;
		margin-top:2px;
	}
}
.task-preview-textures {
	font-size: 0.8em;
	padding: 5px;
	background-color: #333;
	
	ul {
		padding-left: 15px;
	}
}

/* //////////////////////////////////////////////////
 * Asset file manager
 * //////////////////////////////////////////////////*/
 
.task-details, .task-comments, .task-preview, .task-files, .task-assetPath {
	margin:15px 5px;
}
.task-assetPath {
	color:#AAA;
	margin-top:5px;
	font-size: 0.8em;
}

.task-files-wip {
	width: 50%;
}
.task-files-description {
	padding:4px;
	padding-left:10px;
	background-color: #333;
}
.task-files-wip-tree {
	padding:5px;
	padding-left:10px;
}
.task-files-operations {
	background-color: #333;
	margin-top:10px;
	padding:4px 2px;
}
.task-files-button-upload, .task-files-button-download, .task-files-button-delete {
	border: 1px solid #555;
	min-width:5em;
	font-size: 0.85em;
	margin:0px 5px;
	padding:2px 8px;
	background-color: #666;
}
.task-files-selected {
	background-color:#A82709;
	font-weight: bold;
}