@import '../include';

.task-details, .task-comments, .task-assets, .task-assetPath {
	/*margin:15px 5px;*/
}

.task-assetPath {
	color:#AAA;
	margin-top:3px;
	margin-left: 15px;
	font-size: 0.8em;
}

/* //////////////////////////////////////////////////
 * Preview
 * //////////////////////////////////////////////////*/
.task-button.task-file-button {
	margin: 1.3px;
	min-width: 5.3em;
	max-width: 10em;
	padding: 2px 5px;
}
.task-assets {
	margin: 25px 1px 5px 10px;
}
.task-assets > table {
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;

	// seperator column
	col.task-assets-column-seperator {
		width: 2%;
	}
	td:nth-child(2) {
		border-style: none;
	}
	// original/new asset column
	col.task-assets-column {
		width: 49%;
	}
	td {
		border: 0.7px solid #555;
		background-color: $bgc-task-inner;
	}
	td.noborder {
		border-style:none;
	}
	
	td.task-asset-info {
		padding: 4px 4px;
	}
	.task-asset-buttons {
		padding: 5px 2px;
	}
	.center > .task-file-button {
		display:inline-block;
		min-width:10em;
	}
}
.task-assets > table:not(.maximized) {
	td:nth-child(2), td.noborder {
		background-color: inherit;
	}
}
.task-assets > table.maximized {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 150;
	tr {
		display: none;
	}
	tr.task-previews, tr.task-preview-options {
		display: table-row;
	}
}

tr.task-previews {
	width:100%;
	
	td.task-asset-info.task-asset-invalid {
		padding: 10px;
		vertical-align: top;
		color: $c-red;
		
		> .path {
			padding-top: 10px;
			text-align: left;
		}
	}
}
td.task-preview-visual {
	padding:2px 2px;
	
	&:hover {
		background-color: #393939;
	}
	a {
		display:block;
	}
	img {
		margin: 10px 0;
		border:1px dotted #666;
		max-width:90%;
	}
	canvas {
		display:block;
		background-color:DarkRed;
	}

	&:not(.maximized) {
		height: 250px;
	}
}

// TODO put class on td or something so we can omit .task-assets
td.task-preview-maximize {
	position: relative;

	& > .task-preview-maximize-centerer {
		position: absolute;
		left: 50%;
		top: 10px;
	
		.button {
			display:block;
			height: 28px;
			width: 28px;
			left: -14px;
			padding: 4px;
		}
		svg.buttonIcon {
			width:20px;
			height:20px;
		}
	}
}

td.task-preview-renderOptions {
	padding: 6px 10px;
	height: 37px;
	
	.renderOptionsText {
		padding-top:3px;
		display:block;
		float: left;
	}
	
	.renderOptionsText, .renderOptionGroup {
		height: 100%;
	}

	.button-group {
		padding-top: 0px;
		margin-left: 10px;
	}
	.task-button {
		padding: 2px;
		min-width: 100px;
		margin:0px;
	}
	.task-button.active {
		border-bottom: 1px solid $c-orange;
	}
	label {
		margin-left:10px;
	}
	label.disabled {
		color: #777;
	}
	input.renderOptionsSpeed {
		height: 90%;
		margin-left:5px;
		margin-top:2px;
	}
}
.task-asset-model-textures {
	font-size: 0.8em;
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
	li {
		list-style: none;
		display: block;
		padding: 4px 0px;
	}
	li > span {
		padding: 2px 4px;
		margin-left: 5px;
	}
}
.task-asset-model-textures-tasks {
	$dependencyColor : $bgc-task-inner;
	li > span {
		border-radius: 3px;
		background-color: $dependencyColor;
		border: 0.7px solid #555;
	}
	li > span:hover {
		background-color: setLightness($dependencyColor, 1.7);
	}
}

/* //////////////////////////////////////////////////
 * File manager
 * //////////////////////////////////////////////////*/
.task-files-description {
	padding:4px;
	padding-left:10px;
}
.task-files-wip-tree {
	padding:5px;
	padding-left:10px;
}
.task-files-operations {
	margin-top:10px;
	padding: 5px 2px;
}
.task-files-selected {
	background-color:#A82709;
	font-weight: bold;
}