@import '../include';

/* 
 * ////////////////////////////////////////////////////////////////////////////
 * Styling for dialogs in all_template.tag html
 * ////////////////////////////////////////////////////////////////////////////
 */

#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	
	background-color: #FFF;
    opacity: 0.3;
}

.dialog {
	@include colorTheme-dialog;
	
	min-width:250px;
	min-height:40px;
	
  	position: fixed;
  	border-width: 5px;
	border-style: solid;
	
	outline: #777 solid 1px;
	overflow: hidden; // fix for firefox outline problem (background shining through)
}

.dialog-button {
	min-width:100px;
}

.dialog-input {
	width:100%;
}

/*
 * Confirm Dialog
 * #####################################
 */

.confirmDialog {
	padding:10px;
	position:fixed;
	
	> * {margin:10px;}
}

/*
 * Exception Dialog
 * #####################################
 */

#exceptionDialog {
	width:90%;
	height:90%;
	padding:20px;
}
#exceptionDialog-heading {
	color: $fgc-exceptionDialog-heading;
	font-size:1.7em;
}
#exceptionDialog-message {
	color:$fgc-exceptionDialog-heading;
	padding-bottom: 15px;
	max-height:40px;
	overflow:auto;
}
#exceptionDialog-instructions {
	padding-bottom: 10px;
}
#exceptionDialog-traceWrapper {
	max-height:75%;
	overflow:auto;
	padding: 20px;
	
	@include colorTheme-exceptionDialog-trace;
}
#exceptionDialog-reloadButton {
	width:200px;
	padding:5px;
	margin:20px auto;
	margin-bottom:0px;
}

/*
 * Batch Dialog
 * #####################################
 */
#batchDialog {
	width: 650px;
	
	> p, > #batchDialog-listWrapper, > #batchDialog-conflictOptions,
	> #batchDialog-finishLoadingButton {margin:7px 10px;}
}
#batchDialog-conflictMessage {
	font-weight: bold;
	color: $fgc-batchDialog-conflict;
}
#batchDialog-listWrapper {
	overflow: auto;
	height:200px;
}
#batchDialog-list {
	margin:0px;
	padding:2px 10px;
	list-style-type: none;
	font-size: 0.85em;
	
	@include colorTheme-batchDialog-list;
}
#batchDialog-conflictOptions > .dialog-button,
#batchDialog-doForAllCheckbox {
	margin: 8px 20px;
	margin-left: 0px;
}

/*
 * Save Tasks Dialog
 * #####################################
 */

#dialog-saveTasks {
	padding:10px;
	min-width:350px;
	
	input {
		width: 90%;
	}
}

/*
 * Task Dialog
 * #####################################
 */
 
.taskDialog {
	background-color: #333;
	border-top: 1px solid #777;

	min-width: 500px;
	max-width: 870px;
	width: 70%;

	.taskDialog-close.button {
		@include button-color(#777);
		
		height: 20px;
		width: 50px;
		padding: 2px;
		margin-bottom: 2px;
		
		.svg {
			fill: #EEE;
			width: 16px;
			height: 16px;
		}
	}
 }