@import '../include';

// make variable for menu height=top distance, variable for space left of main=width

#notifications {
    position: fixed;
    left: 0;
    top: 40px;
    height: calc(100% - 40px);
    width:300px;
    background-color: $bgc-subpage-bright;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 5px;

    box-shadow: 2px 0px 5px #0B0B0B;

    .button, .notifications-list-label {
        flex: 0 0 auto;
    }
    .notifications-list {
        flex-grow: 1;
        overflow-y: auto;
    }
    .notifications-list-label {
        margin: 3px;
    }
    .notific {
        padding: 3px 5px;
        margin: 3px;
        background-color: $bgc-task;
    }

    #notifications-new .notific {
        border: 2px solid $c-orange;
    }
    #notifications-old .notific {
        border: 2px solid $bgc-task-inner;
    }
}