@import '../include';

#notifications-toggle {
    display: none;

    &.enabled {
        display: block;
    }

    &.notifications-alarm #notifications-count {
        display: block;
    }

    #notifications-count {
        display: none;

        border-radius: 3px;
        padding-left: 3px;
        padding-right: 3px;

        background-color: setLightness($c-orange, 0.9);
        font-size: 0.6em;
        text-shadow: 0px 0px 1px #000;
        font-weight: 900;
        font-family: Tahoma, Calibri, Verdana, Arial, sans-serif;

        margin-top: 3px;
    }
}

$bgc-notific-list: setLightness($bgc-task-inner, 1.4);

#notifications {
    position: fixed;
    left: 0;
    top: 40px;
    height: calc(100% - 40px);
    width:300px;
    background-color: $bgc-notific-list;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 2px;

    box-shadow: 3px 0px 5px #040404;

    .button {
        flex: 0 0 auto;
    }
    .notifications-list {
        flex-grow: 1;
        overflow-y: auto;
        direction:rtl;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .notific {
        padding: 3px 5px;
        margin: 2px;
        background-color: $bgc-task;
        word-wrap: break-word;
        @include indented-shadow-for-color(setLightness($bgc-task, 1.7));

        .notific-task-user {
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;

            background-color: #DDD;
            @include colorTheme-usertag;
            @include indented-shadow-for-bright($bgc-usertag);
        }
        .notific-task-change {
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px;

            margin-right: 5px;

            &.ADDED {
                background-color: setLightness($c-green, 0.7);
                @include indented-shadow-for-color(setLightness($c-green, 0.7));
            }
            &.REMOVED {
                background-color: rgb(136, 19, 35);
                @include indented-shadow-for-color(rgb(136, 19, 35));
            }
            &.EDITED {
                $editedColor : getBrightScheme($bgc-task-inner);
                background-color: $editedColor;
                @include indented-shadow-for-color($editedColor);
            }
        }

        .notific-task-name {
            display: inline-block;
            margin: 3px 2px;
            max-width: 100%;
            word-wrap: break-word;
        }
    }
    .notific.notific-taskExists:hover {
        background-color: setLightness($bgc-task, 1.7);
    }

    .notifications-container {
        direction: ltr;
        border-right: 2px solid $bgc-notific-list;
        margin-right: 2px;
    }
    
    #notifications-new {
        border-color: $c-orange;
        margin-bottom: 10px;

        padding: 1px 0px;
        background-color: #555;
    }
}