<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
">


	<!-- map links starting with res (used for css/js files) to appropriate folder-->
	<mvc:resources mapping="/res/**" location="/resources/"/>

	<!-- activate java annotations -->
	<mvc:annotation-driven>
	</mvc:annotation-driven>
	
	<!-- provide property-files for fmt:message keys from jsps -->
    <bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>messages</value>
		</property>
	</bean>
	
	<!-- activate scan for annotations in given packages-->
	<context:component-scan base-package="gmm" />
	
	<!-- InternalResourceViewResolver resolves the name given from controller to a file by using prefix and suffix -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
  		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- Handle Multipart File Upload -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>
	
	<!-- Custom Beans -->
    
	<!-- Expose property file with meta information -->
	<!-- Expose to @Value annotation in java -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	<!-- Expose to <spring:eval expression="@config.getProperty(...)"  in jsps/> -->
	<bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="singleton" value="true" />
			<property name="locations">
				<list>
					<value>classpath:config.properties</value>
				</list>
			</property>
	</bean>
	<!-- @Value converter -->
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.nio.file.Path" value="gmm.web.binding.PathEditor" />
			</map>
		</property>
	</bean>
    
	<!-- Spring Security -->
	<import resource="applicationContext-security.xml"/>
</beans>

