<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<http auto-config="true">
		<intercept-url pattern="/*" access="ROLE_USER" />
	</http>
 
	<authentication-manager>
	  <authentication-provider>
	    <user-service id="userService">
	    	<user name="Fracer" password="123456" authorities="ROLE_USER"/>
	    	<user name="Rolf" password="123456" authorities="ROLE_USER" />
			<user name="Kellendil" password="123456" authorities="ROLE_USER" />
			<user name="ThielHater" password="123456" authorities="ROLE_USER" />
			<user name="EvilTwin" password="123456" authorities="ROLE_USER" />
			<user name="BlackBat" password="123456" authorities="ROLE_USER" />
			<user name="Gnox" password="123456" authorities="ROLE_USER" />
			<user name="AmProsius" password="123456" authorities="ROLE_USER" />
			<user name="anselm" password="123456" authorities="ROLE_USER" />
			<user name="NaikJoy" password="123456" authorities="ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
	
 
</beans:beans>