.pageButton {
	width:9em;
}
.filterGroup {
	padding:5px;
}



/*Content/Body of the tasks tab*/
#main{
    padding-right:1.5%;
    width: 100%;
}

.td.leftColumn {
	white-space: nowrap;
}

.td.rightColumn {
	width:100%;
}

#generalArea{
	margin:1em 0em;
}

.taskGroup {
	background-color:#333333;
}

.taskButtons {
	margin:1em 0em;
}
#submitTaskButton {
	margin-right:2em;
}

#lists{
	overflow:hidden;
}

#listsTop .tab{
	width:33%;
	height:30px;
	padding-top:5px;
}

#listsMain {
/* 	Min height interpreted as height by chrome */
	min-height:600px;
	width:100%;
	border-top:2px solid #151515;
	padding:10px;
}

#listsMain .listElement{
	margin-top:7px;
	padding:4px 8px;
	box-shadow: -1px -1px 0px #444, 1px 1px 1px #000;
	border-left:0px solid rgba(255, 78, 35, 1);
	overflow:hidden;
	
	/**
	 * New solution for performance
	 */
	 
	min-width:470px;
	/* TODO always use maximum available width */
}
#listsMain .elementCount {
	font-size:0.9em;
	margin-top:3px;
	font-weight:bold;
	color:#000000;
}
#listsMain .elementContent {
	 word-wrap:break-word;
	 max-width:100%;
}
#listsMain .elementId{
	padding-right:7px;
	margin-top:5px;
	color:#6D6D6D;
	font-size:0.8em;
}
#listsMain .elementStatus {
	color:#E8E8E8;
}
#listsMain .elementAssigned {
	font-weight:bold;
/* 	font-style:italic; */
	margin-right:10px;
}
#listsMain .elementStatus, #listsMain .elementAssigned, #listsMain .elementLabel {
	margin-top:4px;
	font-size:0.96em;
}

#listsMain .elementPriority {
	margin-top:5px;
}

#listsMain .elementPriority{
	margin-left:10px;
	height:1em;
	width:0.5em;
}
#listsMain .elementLabel{
	margin-right:5px;
}
#listsMain .elementName{
	padding-left:5px;
	padding-bottom:3px;
}
#listsMain .listElementBody {
	overflow:hidden;
}
#listsMain .listElementBodyFooter {
	margin: 25px 0px 2px 0px;
}
#listsMain .elementAuthorDate{
	bottom:0px;
	color:#999999;
	font-size:0.7em;
}
#listsMain .elementButton, #listsMain .commentButton {
	font-size:0.87em;
	color:#CCCCCC;
	background-color: #3A3A3A;
}
#listsMain .elementButton{
	padding:3px 7px;
	margin:2px 10px 0px 0px;
	min-width:5.5em;
}
#listsMain .elementButton:hover{
	background-color:292929;
}
#listsMain .elementButton.commentElement {
	margin-left:3px;
}

#listsMain .elementPriority.ULTRA{
	width:0.9em;
	background-color:#F30021;
}
#listsMain .elementPriority.HIGH{
	width:0.7em;
	background-color:#FF4F00;
}
#listsMain .elementPriority.MID{
	background-color:#FFB400;
}
#listsMain .elementPriority.LOW{
	width:0.3em;
	background-color:#DDDDDD;
}
#listsMain commentButton {
	height:30px;
}
#listsMain .elementComments {
	margin-top:10px;
	margin-left:20px;
}
#listsMain .elementDetails{
	color:#DDDDDD;
	padding:0px 5px;
}
#listsMain .subListElement{
	color:#DDDDDD;
	border-top: 1px dotted #666;
	margin-top:3px;
	padding-top:3px;
}
#listsMain .subElementAuthor, #listsMain .commentForm .commentSubmitButton {
	margin-top: 2px;
	margin-right:2px;
	min-width:6em;
}
#listsMain .commentEditButton {
	padding-left:5px;
	padding-right:5px;
}
#listsMain .subElementText {
	padding-left:5px;
}
#listsMain .commentForm .subElementText{
	width:auto;
	overflow:hidden;
}
#listsMain .commentForm .commentTextArea {
	width:auto;
	width:100%;
	resize:vertical;
}
#listsMain .elementDelete {
	background-color:#000000;
	border:3px solid red;
}
#listsMain .elementDelete .deleteQuestion{
	margin:6px;
}
#listsMain .elementDelete .deleteButton{
	margin:3px;
	width:5em;
	color:#000000;
	background-color:#FFFFFF;
}